.achievementContainer {
    padding: 50px 0;
    overflow-x: hidden;
    background: url('/images/quick-bg.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.achievementContainer .col-md-3 {
    border-right: 1px solid var(--title-color);
}

.achievementContainer .col-md-3:last-child {
    border-right: none;
}

.achievement-block {
    text-align: center;
}

.achievement-stats {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--title-color);
    font-family: 'Oswald', sans-serif;
}

.achievement-title {
    padding-top: 15px;
    font-size: 16px;
    font-weight: 500;
    color: var(--title-color);
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .achievementContainer {
        padding: 60px 20px;
    }

    .achievement-block {
        padding: 20px;
        border-bottom: 1px solid var(--title-color);
    }

    .achievementContainer .col-md-3:nth-child(2) {
        border-right: none;
    }

    .achievementContainer .col-md-3:nth-child(3) .achievement-block,
    .achievementContainer .col-md-3:nth-child(4) .achievement-block {
        border-bottom: none;
    }
}
