/* ********************  Navbar start css  ********************* */

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    z-index: 999;
    transition: 0.3s ease-in-out;
    flex: initial;
    background: var(--title-color);
}

.nav.active {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
    color: var(--main-color);
    background: var(--title-color);
}

/* **************   Nav Call Container start  **************** */

.nav-media-container {
    width: 100%;
    height: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bold-color);
}

.nav-call {
    margin: 0;
    display: flex;
    align-items: center;
}
.nav-call .icon-container {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: grid;
    place-items: center;
}

.nav-call .icon {
    width: 14px;
    fill: var(--title-color);
}

.nav-call a {
    font-size: 15px;
    color: var(--title-color);
}

.nav-call a:hover {
    opacity: 0.8;
}

.nav-media-container .social-icon-container {
    width: initial;
    margin: 0;
}

.nav-media-container .social-icon-block {
    width: 30px;
    height: 30px;
    background: transparent;
}

.nav-media-container .social-icon-block .icon {
    width: 60%;
}

/* *****   Nav Call Container end  ***** */

.nav-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    padding-right: 10px;
    z-index: 1000;
    cursor: pointer;
}

.hamburger .span1 {
    width: 30px;
    height: 2px;
    background: var(--main-color);
    display: block;
}

.hamburger .span2 {
    margin-left: auto;
    margin-top: 4px;
    width: 24px;
    height: 2px;
    background: var(--main-color);
    transition: 0.3s ease-in;
    display: block;
}

.hamburger .span3 {
    margin-top: 4px;
    margin-left: auto;
    width: 16px;
    height: 2px;
    background: var(--main-color);
    display: block;
    transition: 0.3s ease-in;
}

.hamburger:hover .span2,
.hamburger:hover .span3 {
    width: 30px;
}

.empty {
    display: none;
}

.logo-block {
    width: 100%;
    max-width: 200px;
    margin-left: 30px;
}

.logo-block h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color);
}

.logo-block .logo {
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.side-menu .nav-list {
    margin: 0px;
    margin-right: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.side-menu .nav-list .nav-link {
    position: relative;
    display: inline-block;
    padding: 0 30px;
    list-style: none;
    font-size: 14px;
    cursor: pointer;
    color: var(--bold-color);
    transition: 0.3s;
    opacity: 0.9;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s ease-in;
}

.side-menu .nav-list .nav-link a {
    color: var(--bold-color);
}

.side-menu .nav-list .nav-link .icon {
    width: 22px;
    height: 22px;
    margin-top: -5px;
    margin-right: 3px;
}

.side-menu .nav-list .nav-link a:hover {
    color: var(--main-color);
}

.side-menu .nav-list .nav-link::after {
    position: absolute;
    content: '|';
    top: 0;
    right: 0;
    color: var(--main-color);
}

.side-menu .nav-list .nav-link:last-child::after {
    display: none;
}

/* ********************  Mobile sidebar   *********************** */

.mobile-sidebar {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background: var(--title-color);
    transform: translateX(110%);
    transition: 0.3s ease-in;
    z-index: 999;
    box-shadow: 0 -2px 20px rgba(0, 0, 0.8);
    box-sizing: border-box;
    overflow-y: scroll;
}

.mobile-sidebar .number {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 15px 20px 10px;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
}

.mobile-sidebar .number a {
    font-size: 14px;
    font-weight: 600;
    color: var(--title-color);
    letter-spacing: 1px;
    opacity: 0.9;
}

.mobile-sidebar .nav-list {
    padding: 0;
}

.mobile-sidebar .nav-list .nav-link {
    border-bottom: 2px solid var(--text-color);
    padding: 15px;
    list-style: none;
    font-size: 14px;
    cursor: pointer;
    color: var(--bold-color);
    transition: 0.3s;
    opacity: 0.9;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s ease-in;
}

.mobile-sidebar .nav-list .nav-link a {
    color: var(--bold-color);
}

.mobile-sidebar .nav-list .nav-link:hover {
    opacity: 0.6;
}

.social-icon-container {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

.social-icon-block {
    width: 40px;
    height: 40px;
    background: var(--main-color);
    border-radius: 50%;
}

.social-icon-block a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-block .icon {
    width: 60%;
    fill: var(--title-color);
}

.mobile-sidebar.active {
    transform: translateX(0%);
}

/* *******************  Media query  ************************* */

@media only screen and (max-width: 1000px) {
    .side-menu ul li {
        margin: 0 20px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 786px) {
    .logo-block {
        display: grid;
        place-items: center;
        width: 150px;
    }

    .auto {
        height: auto;
    }

    .hamburger {
        display: block;
    }

    .side-menu {
        display: none;
    }

    .hamburger .span1.active {
        width: 20px;
        height: 3px;
        background: var(--title-color);
        transform: rotate(44deg) translate(2px, -3px);
        opacity: 0.8;
    }

    .hamburger .span2.active {
        display: none;
    }

    .hamburger .span3.active {
        height: 3px;
        margin-top: 0;
        width: 20px;
        display: block;
        background: var(--title-color);
        transform: rotate(-47deg) translateX(5px);
        opacity: 0.8;
    }
}

@media only screen and (max-width: 560px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 76px;
        z-index: 999;
        transition: 0.3s ease-in-out;
        flex: initial;
        background: var(--title-color);
    }

    .nav-media-container {
        display: none;
    }
}
