.urgentContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    padding: 80px 50px;
    background: var(--main-color);
    transform: translate(-50%, -50%);
}

.urgentContainer .row {
    height: 100%;
    display: flex;
    align-items: center;
}

.urgent-content h1 {
    font-size: 45px;
    color: var(--title-color);
    font-weight: 700;
}

.urgent-content p {
    font-size: 18px;
    color: var(--title-color);
    opacity: 0.8;
}

.urgent-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgentContainer .urgent-icon-container {
    background: var(--title-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 20px;
}

.urgentContainer .urgent-icon-container .icon {
    width: 35px;
    animation: move 2s linear infinite;
}

.urgentContainer .urgent-icon-container .icon path {
    fill: var(--main-color);
}

.urgent-number-container h1,
.urgent-number-container a {
    font-size: 40px;
    color: var(--title-color);
    opacity: 0.9;
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    80% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 768px) {
    .urgentContainer {
        padding: 50px 0;
    }

    .urgent-content {
        text-align: center;
    }

    .urgent-content h1 {
        font-size: 35px;
    }

    .urgent-content p {
        font-size: 15px;
    }

    .urgent-number-container {
        padding-top: 20px;
    }

    .urgentContainer .urgent-icon-container {
        width: 50px;
        height: 50px;
    }

    .urgentContainer .urgent-icon-container .icon {
        width: 26px;
    }

    .urgent-number-container h1,
    .urgent-number-container a {
        font-size: 25px;
    }
}
